{{- define "batchOperation" -}}

{{- /* Batch annotations (non framework only) */ -}}
{{- if hasDisplayAnnotations .Annotations }}
{{ template "annotations" .Annotations }}
{{ end }}

{{- /* Calls within the batch */ -}}
{{- range $i, $call := .Calls }}
#### Call {{ add $i 1 }}

{{ template "call" $call }}
{{ end -}}

{{- end -}}
