# Testnet network configuration file
preferred_url_scheme: &preferred_url_scheme "http"
networks:
# # mynetwork-testnet (evm:000)
# - type: testnet
#   chain_selector: 00000000000000000000
#   rpcs:
#     - rpc_name: Example RPC
#       preferred_url_scheme: *preferred_url_scheme
#       http_url: https://example.rpc/00000000000000000000
#       ws_url: wss://example.rpc/00000000000000000000