{{define "parameter" -}}
{{- $important := getAnnotation . "render.important" -}}
{{- $emoji := getAnnotationValue . "render.emoji" -}}
{{- $formatter := getAnnotationValue . "render.formatter" -}}
{{- if $important}}⭐ {{end -}}
{{- if $emoji}}{{$emoji}} {{end -}}
{{.Name}} ({{.Type}}): {{if $formatter}}{{formatValue . $formatter}}{{else}}{{.Value}}{{end}}
{{- end}}
