{{- define "annotations" -}}
{{- if hasDisplayAnnotations . }}

_Annotations:_
{{- range . }}
{{- if not (isFrameworkAnnotation .Name) }}
- {{ if .Name }}{{ .Name }}: {{ end }}{{ formatAnnotationValue .Value }}
{{- end }}
{{- end }}
{{ end -}}
{{- end -}}
