{{- define "annotations" -}}
{{- with displayAnnotations . }}

_Annotations:_
{{- range . }}
- {{ if .Name }}{{ .Name }}: {{ end }}{{ formatAnnotationValue .Value }}
{{- end }}
{{ end -}}
{{- end -}}
