{{- define "parameter" -}}
{{- $formatted := formatParam . -}}
- **`{{ .Name }}`** (`{{ .Type }}`):
  <details open>
  <summary>Value</summary>

  ```text
{{ indentLines $formatted "  " }}
  ```
  </details>
{{- with displayAnnotations .Annotations }}
{{- range . }}
  - _{{ if .Name }}{{ .Name }}: {{ end }}{{ formatAnnotationValue .Value }}_
{{- end }}
{{- end }}
{{- end -}}
